.k-page-layout{
  height: 100%;
  width: 100%;
  .ant-layout{
    height: 100%;
    width: 100%;
    //user-select: none;
  }
}
.k-page-layout-header{
  width: 100%;
  background-color: #F7F9F9;
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  z-index: 99;
  line-height: 64px;
  .left-icon {
    color: rgb(51, 102, 204);
    width: 54px;
    text-align: center;
    border-radius: 16px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      background-color: #E6EBF4;
    }
    &:active {
        background-color: #C9D4E9;
    }
  }
  &-left{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 14px 16px;
    box-sizing: border-box;
    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      color: rgb(51, 102, 204);
      font-size: 18px;
      font-weight: bold;
    }
  }
  &-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 16px;
  }
  &-sign {
    display: inline-block;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
  }
}


.k-page-layout-sider{
  background-color: #F7F9F9;
  .ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right{
    overflow-y: auto;
    height: calc(100% - 64px);
    &::-webkit-scrollbar {
      height: 8px;
      width: 4px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
    }
  
    /*定义滚动条轨道 内阴影+圆角*/
    &::-webkit-scrollbar-button{
      display: none;
    }
    /*定义滑块 内阴影+圆角*/
    &::-webkit-scrollbar-thumb {
      width: 4px;
      min-height: 15px;
      background: rgba(255,255,255,0.6) !important;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
    }
  }
}

.k-page-layout-logo{
  height: 60px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.ant-layout-header{
  padding: 0;
}

.k-page-layout-content{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F7F9F9;
}

.maxScreenSide {
  display: block;
  .ant-menu {
    padding: 0 16px!important;
    .ant-menu-item {
      display: flex;
      align-items: center;
      //margin: 0!important;
      padding: 0 16px 0 21.6px !important;
      border-radius: 50px!important;
      .anticon {
        margin-right: 8px!important;
      }
      &:hover {
        background-color: #E6E9EA!important;
      }
    }
    .ant-menu-item-selected {
      background-color: #C9D4E9;
      color: #36c;
      font-weight: bold;
      &:hover {
        background-color: #C9D4E9!important;
      }
    }
    .ant-menu-submenu {
      .anticon {
        margin-right: 8px!important;
      }
      .ant-menu-submenu-title {
        border-radius: 50px!important;
      }
      .ant-menu-submenu-title:active {
        background-color: #E6E9EA!important;
      }
    }
    a::before{
      display: none!important;
    }
    .ant-menu-item-selected::after {
      display: none!important;
    }
  }
  .ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 calc(50% - 16px / 2)!important;
  }
}
.minScreenSide {
  display: none;
}

@media only screen and (max-device-width: 628px) {
  .maxScreenSide {
    display: none!important;
  }
  .minScreenSide {
    display: block!important;
  }
  .minSideLayout {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
  }
}